// highly useful mixins cribbed from zurb-foundation:

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be a different size and not have it effect grid size too,
// set the value of $em-base to $base-font-size ($em-base: $base-font-size;)
$em-base: 16px !default;

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
@function emCalc($pxWidth) {
	@return $pxWidth / $em-base * 1em;
}
// colors 

$eigengrau: rgb(22,22,26); // more natural optical black
$paper: rgb(242,242,238);

// fonts

//@import 'gentium-book';

@font-face {
  font-family: 'fell';
  //src: local('IM FELL Double Pica PRO');
  src: url('/fonts/im-fell/IMFePIrm29C.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fell';
  //src: local('IM FELL Double Pica PRO');
  src: url('/fonts/im-fell/IMFePIit29C.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'fell-dw';
  //src: local('IM FELL DW Pica PRO');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'fell', 'Palatino', serif;
  font-size: 20px;
  line-height: 1.4;
  color: $eigengrau;
  background-color: $paper;
  width: 50%;
  max-width: 585px;
  min-width: 320px;
  margin: auto auto;
  text-shadow: -1px -1px transparentize($eigengrau,.95);
}
h1, h2, h3, h4, h5, h6,
strong, b, label {
  font-weight: normal;
  //font-variant: small-caps;
  text-transform: uppercase;
}
h1 {
  font-style: italic;
}
blockquote {
  //color: lighten($eigengrau, 15%);
  font-style: italic;
  i, em, cite {
    //font-variant: small-caps;
  }
}
hr {
  border: {
    style: solid;
    width: 0 0 1px 0;
    color: rgb(204,204,204);
  }
}  
a, a:link, a:visited {
  text-decoration: none;
  font-variant: small-caps;
  font-style: italic;
  color: inherit;
  color: lighten($eigengrau, 50%);
}
a:hover {
  color: $eigengrau;
}
footer {
  nav {
  }
}
//p {
  //margin-top: 0;
  //margin-bottom: 0;
  //text-indent: 2em;
//}
ul {
  list-style-type: none;
  li {
    &:before {
      content: '—\00a0';
    }
  }
}
