$eigengrau: rgb(22,22,26); // more natural optical black
$paper: rgb(249,249,244);
body {
  font-family: 'Palatino', serif;
  font-size: default;
  line-height: 1.4;
  color: $eigengrau;
  background-color: $paper;
  width: 50%;
  max-width: 585px;
  min-width: 320px;
  margin: auto auto;
}
hr {
  border: {
    style: solid;
    width: 0 0 1px 0;
    color: rgb(204,204,204);
  }
}
