@font-face {
  font-family: 'fell';
  src: url("/fonts/im-fell/IMFePIrm29C.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fell';
  src: url("/fonts/im-fell/IMFePIit29C.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'fell-dw';
  font-weight: normal;
  font-style: normal;
}

/* line 43, ../sass/moby-dick.scss */
body {
  font-family: 'fell', 'Palatino', serif;
  font-size: 20px;
  line-height: 1.4;
  color: #16161a;
  background-color: #f2f2ee;
  width: 50%;
  max-width: 585px;
  min-width: 320px;
  margin: auto auto;
  text-shadow: -1px -1px rgba(22, 22, 26, 0.05);
}

/* line 56, ../sass/moby-dick.scss */
h1, h2, h3, h4, h5, h6,
strong, b, label {
  font-weight: normal;
  text-transform: uppercase;
}

/* line 61, ../sass/moby-dick.scss */
h1 {
  font-style: italic;
}

/* line 64, ../sass/moby-dick.scss */
blockquote {
  font-style: italic;
}

/* line 71, ../sass/moby-dick.scss */
hr {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #cccccc;
}

/* line 78, ../sass/moby-dick.scss */
a, a:link, a:visited {
  text-decoration: none;
  font-variant: small-caps;
  font-style: italic;
  color: inherit;
  color: #8f8fa0;
}

/* line 85, ../sass/moby-dick.scss */
a:hover {
  color: #16161a;
}

/* line 97, ../sass/moby-dick.scss */
ul {
  list-style-type: none;
}
/* line 100, ../sass/moby-dick.scss */
ul li:before {
  content: '—\00a0';
}
