/* line 3, ../sass/moby-dick.scss */
body {
  font-family: 'Palatino', serif;
  font-size: default;
  line-height: 1.4;
  color: #16161a;
  background-color: #f9f9f4;
  width: 50%;
  max-width: 585px;
  min-width: 320px;
  margin: auto auto;
}

/* line 14, ../sass/moby-dick.scss */
hr {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #cccccc;
}
